.tabItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    margin: 0 4%;
    cursor: pointer;
}

.tabItemWrapper p {
    font-size: 1.7rem;
    padding: 8px 0;
    color: #393838;
    text-align: center;
}

.tabItemIconHolder {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabItemIcon {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .tabItemWrapper p {
        font-size: 1.4rem;
        padding: 8px 0;
    }
    .tabItemWrapper{
        width: 17%;
    }
}


@media screen and (max-width: 850px) {
    .tabItemWrapper p {
        font-size: 1.4rem;
        padding: 8px 0;
    }

    .tabs {
        width: 88%;
    }
}

@media screen and (max-width: 700px) {
    .tabs {
        width: 100%;
    }
    .tabItemWrapper{
        width: 18%;
    }
}
@media screen and (max-width: 616px) {
    .tabItemWrapper{
        margin: 0 3%;
    }
}
@media screen and (max-width: 580px) {
    .green-text{
        font-size: 1.8rem!important;
    }
}

@media screen and (max-width: 525px) {
    .green-text{
        font-size: 1.5rem!important;
    }
}



@media screen and (max-width: 490px) {
    .tabItemWrapper p {
        font-size: 1rem;
    }

    .green-text{
        font-size: 1.3rem!important;
    }

    .tabItemWrapper{
        width: 22%;
        margin: 0 1%;
    }

}

